.App{
  margin: 10px;
}

.myBtn{
  background-color: rgb(151, 41, 68);;
  height: 50px;
  width: 140px;
  border-width: 0px;
  border-radius: 5px;
  color: rgb(247, 255, 13);
}
.myBtn:hover{
  background-color: green;
  color: white;
}